<div class="container">
  <h3><%= @user.username %>'s profile</h3>
  <img src ="<%= avatar_url(@user.email) %>">


  <p><%= @user.first_name %> <%= @user.last_name %></p>
  <p><%= @user.about %></p>
  <p><%= @user.location %></p>
  <p><%= @user.email %></p>
  <p>Your password is: <%= @user.password %>. Now everyone knows</p>
  <a href="/users/<%=@user.id%>/edit">Edit profile</a>
  <a href="/logout">Log out</a>

</div>
<a href="/users/<%= @user.id %>/tweets/new">Create new tweet</a>

<% if !@tweets.nil? %>
 <h2><%= @user.username %></h2>
  <% @tweets.each do |tweet| %>
    <p><%= tweet.content %></p>
    <a href="/users/<%= @user.id %>/tweets/<%= tweet.id %>/delete"><input type="submit" value="Delete"></a>
  <% end %>
<% end %>
